.qr-image {
    width: 50% !important;
    height: auto !important;
}
.displaynone{
    display: none !important;
}
.fonts-weight{
    font-weight: 700 !important;
}
.overflow-x{
    overflow-x: hidden
}
.exchangeDirection{
    margin-top: -56px; margin-right:1px
}
.groovehr{
    width: 25px;
    border-top: 10px groove #635bff;
    border-top-left-radius: 25px;
}


.otpdisplay{
    display: none;
}
.verifydisplay{
    display: none;
}
.w-120{
    width: 120px;
}

.w-200{
    width: 200px;
}
.tarea-80{
    height: 80px;
}
.fg{
    display: none;
}
.vv{
    display: none;
}
.exchange-display{
    display: none;
}
.area-151{
    height: 151px;
}
.controlss{
    height: calc(5.5em + 0.75rem + 14px) !important;

}
.display4{
    display: none;
}
.font-700{
    font-weight: 700;
}
.display-block{
    display: block;
}
.display5{
    display: none;
}
.display6{
    display: none;
}
.mt-25{
    margin-top: 25px;
}
.w-50{
    width: 50%;
}

.stripe-day{
    height: 50px !important;
}


.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

  .checkbox .cr,
  .radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #3b3333;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
  }

  .radio .cr {
    border-radius: 50%;
  }

  .checkbox .cr .cr-icon,
  .radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 52%;
    left: 14%;
  }

  .radio .cr .cr-icon {
    margin-left: 0.04em;
  }

  .checkbox label input[type="checkbox"],
  .radio label input[type="radio"] {
    display: none;
  }

  .checkbox label input[type="checkbox"]+.cr>.cr-icon,
  .radio label input[type="radio"]+.cr>.cr-icon {
    opacity: 0;
  }

  .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon,
  .radio label input[type="radio"]:checked+.cr>.cr-icon {
    opacity: 1;
  }

  .checkbox label input[type="checkbox"]:disabled+.cr,
  .radio label input[type="radio"]:disabled+.cr {
    opacity: .5;
  }
  .cr-iconcolor{
      color: #4c4cc5;
  }

.cryptocard {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: 0.25rem;
}

.displaynone{
    display: none !important;
}
.w-120{
    width: 120px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


